html, body{
    background-color: #454545;
    align-content: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.introtable{
    align-self: center;
    border: 1px solid white;
    border-radius: 10px;
    
}

.introtd{
    width: 400;
    height: 280;
    margin: 20px;
    padding: 5px;
}

.intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(219, 219, 219);
    text-align: left;
}

.imgprofile{
    border-radius: 10px 10px 0 0;
    border: 5px solid white;
}